
:root{

    /* Set the Theme Colors */
    --PRIMARY-COLOR-100: #FFF0EB;
    --PRIMARY-COLOR-300: #FFCEBE;
    --PRIMARY-COLOR-500: #F1592A;
    --PRIMARY-COLOR-700: #BC2C00;
    --PRIMARY-COLOR-900: #581500;

    --MAIN-TEXT-color:#000; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #000; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:var(--PRIMARY-COLOR-700); /* Color of links */
    --MAIN-LINK-HOVER-color:var(--PRIMARY-COLOR-500); /* Color of hovered links */
    --MAIN-ANCHOR-color: var(--PRIMARY-COLOR-700); /* color of anchors on titles */

    --MENU-HEADER-BG-color:var(--PRIMARY-COLOR-500); /* Background color of menu header */

    --MENU-SEARCH-BG-color:var(--PRIMARY-COLOR-700); /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: var(--PRIMARY-COLOR-700); /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #fff; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:var(--PRIMARY-COLOR-100); /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:var(--PRIMARY-COLOR-100); /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #000; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: rgba(0,0,0,.7);  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #000; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: var(--PRIMARY-COLOR-100); /* Color of background for the active category (only) */

    --MENU-VISITED-color: var(--PRIMARY-COLOR-500); /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: var(--PRIMARY-COLOR-300); /* Color of <hr> separator in menu */

}

body {
    color: var(--MAIN-TEXT-color) !important;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}


#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
}

#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--PRIMARY-COLOR-900);
}

#sidebar a:hover {
    color: var(--PRIMARY-COLOR-700);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    font-weight: 900;
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar ul.topics:after,
#sidebar ul li.visited > a .read-icon {
    background-color: var(--MENU-SECTION-HR-color);
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}
